$mobile-breakpoint: 1215px
$mobile-breakpoint-2: 780px
$mobile-breakpoint-3: 500px
$radius-small: 2px
$radius-large: 2px
$primary: #d95630
$success: #d95630
$radius: 2px

@import "node_modules/bulma/bulma.sass"
@import "checkboxes"
@import "responsive"

body
  background-color: #f4f4f4
  min-height: 100vh
  overflow-y: auto
  height: 100%
  padding: 0
  margin: 0

  .container
    max-width: 1152px
    overflow: hidden

  .section
    background-color: #efefef
    padding: 4.5em 0 1em
    position: relative

    &.slant
      margin-top: 6em

      &::before
        content: ""
        background-color: #efefef
        position: absolute
        width: 100%
        height: 100%
        top: auto
        left: -5%
        right: 0
        bottom: 30px
        transform: rotate(2deg)

  .features
    margin: 0 0 0 1.4em

    h3
      font-family: 'Roboto Slab', serif
      margin: 0.4em 0 0.6em
      font-size: 1.4em
      line-height: 1.4em

    ul
      padding: 0
      margin: 0

      li
        padding: 0 0 0 27px
        position: relative
        margin: 0 0 0.5em
        font-size: 0.9em
        color: #847f7f

        &::before
          content: ''
          position: absolute
          top: 6px
          left: 0
          height: 13px
          width: 13px
          border: 1px solid #d0cfcf
          border-radius: 50%

    a.button
      text-transform: uppercase
      border: 1px solid #cc4824
      text-decoration: none
      background: #da552f
      margin: 2em 0 0 0
      vertical-align: top
      position: absolute
      overflow: hidden
      cursor: pointer
      text-align: center
      border-radius: 2px
      line-height: 33px
      font-weight: 500
      padding: 0 15px
      display: block
      height: 36px
      color: #fff
      outline: 0
      font-size: 0.9em
      letter-spacing: 0

  .preview-column
    p
      margin: 11px 60px 0 0
      font-style: italic
      font-size: 0.8em
      color: #cbcaca
      float: right

      a
        color: #cbcaca
        font-weight: 600


    .preview
      box-shadow: 0 50px 100px rgba(50, 50, 93, 0.02), 0 15px 35px rgba(50, 50, 93, 0.01), 0 5px 15px rgba(0, 0, 0, 0.02)
      background-color: #fdfdfd
      border-radius: 3px
      padding: 0.3em 3em 2em
      margin: 0 3.2em 0 0
      display: block
      height: 380px
      width: auto

  em.tablet-text
    font-style: normal

  .desktop-text,
  .tablet-text
    display: inline

  .white
    background-color: #f4f4f4
    position: relative
    min-height: 500px
    padding-top: 4em
    width: 100%

  .faded
    .hljs, .copy, span, label, strong, font,
      color: #dadada !important

    input[type='checkbox'] + label > span
      border-color: #e4e4e4 !important

    .hljs
      background-color: #f9f9f9
      box-shadow: none !important

    .copy
      background-color: #f9f9f9 !important

      a
        display: none !important

  a.logo
    font-family: 'Roboto Slab', serif
    text-decoration: none
    font-weight: 500
    font-size: 1.4em
    line-height: 1em
    color: #d95630
    padding: 0 0 0.3em

  .hero
    padding: 4.2em 3.5em 0 0

    h1
      font-family: 'Roboto Slab', serif
      font-size: 1.6em
      line-height: 1.6em

    h2
      color: #847f7f
      font-size: 1em
      line-height: 1.4em

    .editor
      position: relative
      margin: 1.7em 0 0

      .checkboxes
        transition-duration: .2s
        padding: 1em 0 0

      .field
        margin: 0.5em 0 0

      h3
        color: #4a4a4a
        padding: 0 0 0.4em

      label
        color: #847f7f
        font-size: 0.9em

      .error-message
        padding: 0.9em 0 0.5em
        text-align: left
        font-size: 0.9em
        font-weight: 400
        color: #d85631

        strong
          color: #d85631
          font-weight: 600

      .slug-selection
        .is-loading
          &::after
            top: 0.55em
            z-index: 4
            border-color: #d85631
            border-right-color: transparent
            border-top-color: transparent

        .slug-control
          width: 100%

          input
            line-height: 0.9em
            font-size: 0.9em
            height: 33px
            width: 100%

            &:focus
              box-shadow: none

        .button
          background-color: #f9f9f9
          color: #847f7f
          font-size: 0.9em
          line-height: 0.9em
          height: 33px


    .snippet
      transition-duration: .2s
      position: relative
      padding: 1.5em 0 0

      pre
        background: none !important
        max-width: 650px
        display: block
        width: 100%
        padding: 0
        margin: 0

        .hljs
          display: block
          overflow-x: auto
          padding: 1.7em 2.1em 1.7em
          border-top-left-radius: 2px
          border-top-right-radius: 2px
          box-shadow: inset 0px 2px 0px #1b1d23

          .hljs-name
            color: #a9b1be

      .copy
        position: absolute
        bottom: 10px
        right: 0
        left: 0
        background-color: #d95630
        color: #eca793
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        font-size: 0.8em
        line-height: 2.5em
        height: 32px
        font-weight: 500
        padding: 0 0.9em

        a
          position: absolute
          color: #fff
          right: 3px
          bottom: 3px
          background-color: #ca4d29
          border-radius: 2px
          line-height: 26px
          padding: 0 0.65em
          font-weight: 600

          &:hover
            background-color: #c34d2b
            color: #eca793

          &:focus, &:active
            background-color: #c34d2b
            opacity: 0.8

  .huntr-example
    padding: 2.7em 0 0

    #huntr-example
      position: relative
      height: 600px
      width: 100%

      &.hidden-reviews-count
        #huntr-button
          #huntr-text
            display: none !important

    #huntr-button
      position: absolute

    #huntr-inner
      position: absolute
      height: 100vh
      max-height: 472px
      min-height: 472px
      width: 100%
      max-width: calc(100% - 50px)
      min-width: calc(100% - 50px)

      &.one
        max-height: 86px
        min-height: 86px

        #huntr-reviews
          border-top: none !important

  hr
    background: url('/images/hr.png') repeat-x 0 0
    padding: 2em 0 0
    overflow: hidden
    margin: 2em 0 0
    opacity: 0.2
    height: 4px
    border: 0

  .foot
    padding: 0 0 4em
    text-align: center
    font-size: 0.9em
    color: #959292
    margin: 0

    .column
      text-align: left

      &.right
        text-align: right

      em
        font-family: 'Roboto Slab', serif
        font-style: normal
        color: #d95630

      span
        &.affiliated
          opacity: 0.4
